:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  position: relative;
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
  .link{
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: aqua;

    
  }
  li {
    border-bottom: 1px solid #ccc; /* Madde arasına sınır çizgisi ekle */
    padding-bottom: 20px; /* Madde aralarına boşluk ekleyerek görünümü düzenle */
    margin-bottom: 20px; /* Madde aralarına boşluk ekleyerek görünümü düzenle */
  }
}
ul {
  list-style-type: none; /* Madde işaretlerini kaldır */
  padding: 0;

}

h1 {
  color: #4d9c54; /* Başlık rengi */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:Newpage {
  max-width: 800px; /* Sayfanın maksimum genişliği */
  margin: 0 auto; /* Ortalamak için sayfa kenarlarına boşluk */
  padding: 20px; /* İçeriği kenarlardan ayırmak için padding */
  font-family: Arial, sans-serif; /* Yazı tipi seçimi */
  .newpage {
    margin: 0; /* Paragrafların üst ve alt boşluğunu kaldır */
    
  }

  
}
.book-animation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* veya istediğiniz genişlik */
  margin: 0 auto; /* merkezlemek için */
}

.book-animation img {
  width: 20px;/* veya istediğiniz boyut */
  height: 20px;
}


.card{
  background-color: #141a27;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-title{
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #4d9c54;
  background-color: #f5642b;

}

.card-body{
  font-size: 1.2em;
  color: #4d9c54;
  background-color: #462316;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

